body{
    background-color: #2D2D2D;
}

.logodnc{
    width: 120px;
    padding: 35px;
}

section{
    color: white;
    font-family: 'Raleway';
    font-size: 25px;
    font-weight: bolder;
}

.welcome{
    margin-top: 10px;
    margin-left: 610px;
}

.jumpy{
    width: 225px;
    margin-left: 630px;
}

form{
    font-family: 'Raleway';
    color: white;
    font-size: 14px;
    margin-left: 550px;
    margin-top: 35px;
}

input{
    display: grid;
    width: 370px;
    height: 30px;
    border-radius: 7px;
    padding-left: 10px;
}

button{
    border-radius: 7px;
    width: 387px;
    height: 30px;
    margin-top: 20px;
    background-color: #0C70F2;
    color: white;
    font-family: 'Raleway';
    font-size: 14px;
    border-color: #0C70F2;
    cursor: pointer;
}
